{% extends 'base.html' %}

{% block Title %}
    {{Judul}}
{% endblock Title %}

{% block pageTitle %}
    {{Judul}}
{% endblock pageTitle %}

{% block contents %}
    {{Content}}

    <br>

        {% for category in Categories %}
            <a href="/blog/category/{{category.category}}" role="button">{{category.category}}</a>
        {% endfor %}
            <a href="/blog" role="button">All Post</a>


    {% for post in Posts %}
        <a href="/blog/post/{{post.slug}}">
        <h1>{{post.judul}}</h1>
        </a>
        <p>{{post.publish_time}}</p>
        <p>{{post.body|truncatechars:200}}</p>
    {% endfor %}
    

{% endblock contents %}